*{
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    background-color: #E4E9FD;
    background-image: linear-gradient(to top right, #A683E3 40%, #E4E9FD 40.20%);
    min-height: 100vh;
    font-family: "Helvetica";
}

.content{
    max-width: 400px;
    margin: 50px auto;;
}

.day{
    background:  #A683E3;
    padding: 10px;
    color: white;
    border-radius: 5px;
}

.day h1{
    text-align: center;
    font-size: 1.5em;
}

.boxes{
    background: white;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
    margin-top: 40px;
    border-radius: 4px;
}

.boxes input[type="checkbox"]{
    margin: 20px;
    transform: scale(1.3);
}

.boxes input:checked + p {
    text-decoration: line-through;
    text-decoration-color: #A683E3;
}
  

.boxes li{
    list-style: none;
    border-bottom: 1px solid #f1f1f1;
    min-height: 70px;
    display: flex;
    align-items: center;
}

form{
    display: flex;
    min-height: 50px;
    padding: 10px 20px;
}

input[type="text"]{
    text-align: center;
    flex: 2;
    font-size: 20px;
}

input[type="text"]:focus {
    outline: none;
    box-shadow: inset 0 -3px 0 0 #A683E3;
}

button {
    width: 50px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #A683E3;
}

button a{
    color: #fff;
    font-size: 35px;
    text-decoration: none;
    cursor: pointer;
}

::placeholder {
    color: grey;
    opacity: 1;
}